.myNavBar{
  padding-right: 314px;
}

.liNavbar{
  margin-right: 42px;
}

.myContainer{
  padding-right: 80px;
  text-align: justify;
}

 .servicesCard{
  width: 450px;
  height: 350px;
  margin-right: 15px;
  float: left;
}

.formBorder{
  width: 400px;
}